AID/2005-07-08/25_SV_1-0-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by AAMVA (AAMVA) -->
<!--Generated by M Pritchard (AAMVA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:max="http://www.AAMVA.org" xmlns:maxh="http://www.AAMVA.org/MAX" xmlns:j="http://www.it.ojp.gov/jxdm/3.0.2" targetNamespace="http://www.AAMVA.org" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:import namespace="http://www.AAMVA.org/MAX" schemaLocation="C:\Documents and Settings\mpritchard\My Documents\AAMVA Documentation\XML\AID\MAX_header_1-0-1.xsd"/>
	<xs:import namespace="http://www.it.ojp.gov/jxdm/3.0.2" schemaLocation="C:\Documents and Settings\mpritchard\My Documents\AAMVA Documentation\XML\AID\jxdm\3.0.2\jxdm.xsd"/>
	<xs:element name="MAX25SV">
		<xs:annotation>
			<xs:documentation>The 'MAX' envelope that contains all the information for the AIDI (25) Verification and Status Request Message (SV)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="maxh:HeaderType">
					<xs:annotation>
						<xs:documentation>Message Header</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Body">
					<xs:annotation>
						<xs:documentation>The body of the message, containing the application data</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="false">
						<xs:sequence>
							<xs:element ref="j:Person"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" default="1.0.0"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
