AID/2005-07-08/jxdm/3.0.2/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.it.ojp.gov/jxdm/3.0.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:j-xsd="http://www.it.ojp.gov/jxdm/3.0.2/proxy/xsd/1.0" xmlns:j="http://www.it.ojp.gov/jxdm/3.0.2" xmlns:i="http://www.it.ojp.gov/jxdm/appinfo/1">
  <xsd:annotation>
    <xsd:documentation>The Global Justice XML Data Model.</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.it.ojp.gov/jxdm/3.0.2/proxy/xsd/1.0" schemaLocation="proxy/xsd/1.0/xsd.xsd">
    <xsd:annotation>
      <xsd:documentation>Proxy types that carry dictionary metadata and have XML data type simple contents.</xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:import namespace="http://www.it.ojp.gov/jxdm/appinfo/1" schemaLocation="../appinfo/1/appinfo.xsd">
    <xsd:annotation>
      <xsd:documentation>The appinfo for the schemas</xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:attributeGroup name="SuperTypeMetadata"/>
  <xsd:complexType name="IDType">
    <xsd:annotation>
      <xsd:documentation>A structure that describes an identifier of an entity.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:SuperType">
        <xsd:sequence>
          <xsd:element ref="j:ID" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A value that identifies an entity within the identifier domain.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="j:IDTypeText" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A type of identifier assigned.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="j:IDJurisdictionText" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>An area or region, e.g., state or country, in which an identifier is unique.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAssignedIDDetailsType">
    <xsd:annotation>
      <xsd:documentation>A structure that describes a set of identifications issued to a person.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:SuperType">
        <xsd:sequence>
          <xsd:element ref="j:PersonStateID" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A number issued by a state Automated Fingerprint Identification System (AFIS) based on submitted fingerprints. Sometimes referred to as a State ID number or a SID.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A structure that describes a name of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="TextType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="j:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A structure that describes a name of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:SuperType">
        <xsd:sequence>
          <xsd:element ref="j:PersonSurName" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A last name or family name of a person.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A structure that describes the inherent and frequently associated characteristics of a  person.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:SuperType">
        <xsd:sequence>
          <xsd:element ref="j:PersonName" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A name by which a person is known. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="j:PersonBirthDate" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A date a person was born.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="j:PersonAssignedIDDetails" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A set of details about identifications issued to a person.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SuperType">
    <xsd:annotation>
      <xsd:documentation>A structure that describes metadata common to most other structures.</xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A proxy structure that represents a character string, generally in the form of words of a language, and includes language metadata.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2/proxy/xsd/1.0" i:name="string"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="j-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="ID" type="j:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies an entity within the identifier domain.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IDJurisdictionText" type="j:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area or region, e.g., state or country, in which an identifier is unique.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IDTypeText" type="j:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A type of identifier assigned.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Person" type="j:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Describes inherent and frequently associated characteristics of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAssignedIDDetails" type="j:PersonAssignedIDDetailsType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A set of details about identifications issued to a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthDate" type="j-xsd:date" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="j:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name by which a person is known. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonStateID" type="j:IDType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number issued by a state Automated Fingerprint Identification System (AFIS) based on submitted fingerprints. Sometimes referred to as a State ID number or a SID.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="j:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
